        <footer class="footer footer-transparent d-print-none">
          <div class="container-xl">
            <div class="row text-center align-items-center flex-row-reverse">
              <div class="col-lg-auto ms-lg-auto">
                <ul class="list-inline list-inline-dots mb-0">
                  <li class="list-inline-item"><a href="https://github.com/SasaKaranovic/OpenFanController" target="_blank" class="link-secondary" rel="noopener">Documentation</a></li>
                  <li class="list-inline-item"><a href="https://github.com/SasaKaranovic/OpenFanController" class="link-secondary">License</a></li>
                  <li class="list-inline-item"><a href="https://github.com/SasaKaranovic/OpenFanController" target="_blank" class="link-secondary" rel="noopener">Source code</a></li>
                </ul>
              </div>
              <div class="col-12 col-lg-auto mt-3 mt-lg-0">
                <ul class="list-inline list-inline-dots mb-0">
                  <li class="list-inline-item">
                    Copyright &copy; 2023
                    <a href="https://sasakaranovic.com" target="_blank" class="link-secondary">Karanovic Research</a>.
                    All rights reserved.
                  </li>
                  <li class="list-inline-item">v20230929</li>
                </ul>
              </div>
            </div>
          </div>
        </footer>
